body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #dddddd;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
