.snaplist {
  flex: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.snaplist_horizontal {
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  max-width: 100%;
}

.snaplist_vertical {
  scroll-snap-type: y mandatory;
  max-height: 100%;
}

.snaplist_scroll_disabled {
  overflow-y: hidden;
  overflow-x: hidden;
}

.snaplist_scroll_horizontal {
  overflow-y: hidden;
  overflow-x: auto;
}

.snaplist_scroll_vertical {
  overflow-y: auto;
  overflow-x: hidden;
}

.snaplist::-webkit-scrollbar {
  display: none;
}

.snapitem {
  flex: 1;
  display: flex;
  flex-grow: initial;
  scroll-snap-align: center;
  flex-shrink: 0;
  flex-basis: auto;
}

.snapitem_align_center {
  scroll-snap-align: center;
}

.snapitem_align_start {
  scroll-snap-align: start;
}

.snapitem_align_end {
  scroll-snap-align: end;
}

.snapitem_align_none {
  scroll-snap-align: none;
}

.snapitem_forcestop {
  scroll-snap-stop: always;
}
