.snaplist {
  flex: 1;
}

.snaplist_hide_scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.snaplist_hide_scrollbar::-webkit-scrollbar {
  display: none;
}

.snaplist_horizontal {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.snaplist_vertical {
  max-height: 100%;
}

.snaplist_active_horizontal {
  scroll-snap-type: x var(--snaplist-snap-type, mandatory);
}

.snaplist_active_vertical {
  scroll-snap-type: y var(--snaplist-snap-type, mandatory);
}

.snaplist_scroll_disabled {
  overflow-y: hidden;
  overflow-x: hidden;
}

.snaplist_scroll_horizontal {
  overflow-y: hidden;
  overflow-x: auto;
}

.snaplist_scroll_vertical {
  overflow-y: auto;
  overflow-x: hidden;
}

.snapitem {
  flex: 1;
  display: flex;
  flex-grow: initial;
  flex-shrink: 0;
  flex-basis: auto;
}

.snaplist::after {
  content: '';
  flex: 0 0 1px;
}

.snapitem_align_center {
  scroll-snap-align: center;
}

.snapitem_align_start {
  scroll-snap-align: start;
}

.snapitem_align_end {
  scroll-snap-align: end;
}

.snapitem_align_none {
  scroll-snap-align: none;
}

.snapitem_forcestop {
  scroll-snap-stop: always;
}
